:root {
  --font-primary: "Ubuntu", sans-serif;
  --color-page-gradient: linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%);
  --color-page-background: #FBDA61;
  --color-card-background: rgba(255, 255, 255, 0.64);
  --color-card-heading: #333;
  --color-card-content: #818181;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
  min-height: 100vh;
}

body, input, button, textarea, select, option {
  font-family: var(--font-primary);
}