#home-screen {
  width: 100vw;
  min-height: 100vh;
  background-color: var(--color-page-background);
  background-image: var(--color-page-gradient);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  padding: .4rem;
}

#home-screen section {
  display: grid;
  flex: 1;
  grid-template-columns: 1fr;
  gap: .4rem;
}

@media (min-width: 768px) {
  #home-screen section {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  #home-screen section {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1440px) {
  #home-screen section {
    grid-template-columns: repeat(4, 1fr);
  }
}